server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/payme
    username: payme
    password: payme

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
